popover contents {
  border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: none;
	margin-top: -12px;
}

popover arrow {
	background: transparent;
	border-color: transparent;
}

decoration {
  border: 0;
}
